<!--<div class="panel panel-info" style="margin: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{translate(pageTitle)}</h3>
  </div>
  
<form id="fm" name="fm" method="post" flexy:ignore>
	<div class="topbtns">
		<button type="submit" class="btn btn-primary" name="submitted"><span class="glyphicon glyphicon-ok"></span> {translate(#Save#)}</button>
		<button class="btn btn-warning" type="button" name="cancel" onClick="document.location.href='{makeUrl(#list#,#adminfaq#,#faq#):h}'"><span class="glyphicon glyphicon-remove"></span> {translate(#Cancel#)}</button>
	</div>
	{msgGet()}
	<input type="hidden" name="action" value="{action}" /> 
    <input type="hidden" name=".items" /> 
	
	<div id="faqSelector">
	    <select name="item" size="15" multiple class="form-control">
	        {generateSelect(aFaqs):h}
	    </select>
	</div>
	<div id="faqReorder">
		<button type="button" class="btn btn-primary btn-mini" onclick="return orderModule(0)"><span class="glyphicon glyphicon-arrow-up"></span>{translate(#move up#)}</button>
  		<button type="button" class="btn btn-default btn-mini" onclick="return orderModule(1)"><span class="glyphicon glyphicon-arrow-down"></span>{translate(#move down#)}</button>
	</div>
</form>
</div>
-->
<div class="panel panel-info" style="margin: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{translate(pageTitle)}</h3>
  </div>
  <div class="topbtns">
	<button class="btn btn-primary" onclick="javascript:doSub();formSubmit('fm','submitted',1,1)"><span class="glyphicon glyphicon-ok"></span> {translate(#Save#)}</button>
	<button class="btn btn-info" type="button" name="cancel" onClick="document.location.href='{makeUrl(#list#,#adminfaq#,#faq#):h}'"><span class="glyphicon glyphicon-remove"></span> {translate(#Cancel#)}</button>
  </div>
    <form name="fm" method="post" flexy:ignore id="fm">
        <input type="hidden" name="action" value="{action}" /> 
        <input type="hidden" name=".items" /> 

        <div id="faqSelector">
            <select name="item" size="15" multiple class="form-control">
                {generateSelect(aFaqs):h}
            </select>
        </div>
        <div class="reorder-btns">
            <button type="button" class="btn btn-primary btn-mini" onclick="return orderModule(0)"><span class="glyphicon glyphicon-arrow-up"></span>{translate(#move up#)}</button>
  			<button type="button" class="btn btn-default btn-mini" onclick="return orderModule(1)"><span class="glyphicon glyphicon-arrow-down"></span>{translate(#move down#)}</button>
        </div>
    </form>
    <div class="spacer"></div>
</div>