{msgGet()}
<div class="redBtn">{translate(pageTitle)}</div>
{if:aPagedData[data]}
<div class="gradientBack searchRes">
    <div class="searchResRow" flexy:foreach="aPagedData[data],key,aValue">
    	<div class="searchResLogo">
    		{if:aValue[logo]}
    		<img src="{webRoot}/images/company/small/small_{aValue[logo]}" />
			{else:}
    		<img src="{webRoot}/themes/{theme}/images/bg/noImage.png" />
			{end:}
    	</div>
		<div class="searchResDetail">
			<div class="searchResName">
				<span class="searchResTitle">{translate(#Name#)} : </span>
				{aValue[name]}
			</div>
			<div class="searchResCat">
				<span class="searchResTitle">{translate(#Category#)} : </span>
				{aValue[catTitle]}
			</div>
			<div class="searchResAddr">
				<span class="searchResTitle">{translate(#Address#)} : </span>
				{aValue[addr]}
			</div>
			<div class="searchResCity">
				<span class="searchResTitle">{translate(#City#)} : </span>
				{aValue[cityTitle]}
			</div>
			<div class="searchResVil">
				<span class="searchResTitle">{translate(#Village#)} : </span>
				{aValue[vilTitle]}
			</div>
			<div class="searchResHistory">
				<span class="searchResTitle">{translate(#Introduction#)} : </span>
				{aValue[history]}
			</div>
		</div>
		<div class="searchResAction">
			<a class="searchResActionMore redBtn" href="{makeUrl(#viewProfile#,#company#,#company#,aPagedData[data],#frmCompanyID|company_id#,key)}">{translate(#More#)} ...</a>
		</div>
		<div class="clearfix"><!-- Clear & Fix --></div>
    </div>
	<div colspan="5">{if:pager}<flexy:include src="admin_pager_table.html" />{end:}</div>
</div>
{else:}
<div class="searchNoRes">
	<span class="searchNoRes">{translate(#There is not any Company in this Category.#)}</span>
</div>
{end:}