<div style="display: none;">

	<div class="textboxTag">
		<flexy:include src="admin_type/options/tag_textbox.html" />
	</div>
	
	<div class="selectTag">
		<flexy:include src="admin_type/options/tag_select.html" />
	</div>
	
	<div class="textareaTag">
		<flexy:include src="admin_type/options/tag_textarea.html" />
	</div>
	
	<div class="radioTag radio">
		<flexy:include src="admin_type/options/tag_radio.html" />
	</div>
	
	<div class="radioTag radio">
		<flexy:include src="admin_type/options/tag_radio.html" />
	</div>
		
	<div class="checkboxTag">
		<flexy:include src="admin_type/options/tag_checkbox.html" />
	</div>
	
	<div class="multipleselectTag">
		<flexy:include src="admin_type/options/tag_multipleselect.html" />
	</div>
	
	<div class="fileselector fileTag">
		<flexy:include src="admin_type/options/tag_file.html" />
	</div>
	
	<div class="fileselector imageTag">
		<flexy:include src="admin_type/options/tag_image.html" />
	</div>
	<!--
	<div class="dateTag">
		<input type="text" data-date-format="dd.mm.yyyy" class="form-control datepicker" name="">
		<span class="help-block">help</span>
	</div>
	-->
	<div class="newDiv">
		<li>
			<div class="form-group tag-list tagrows">
			  <label class="col-2 control-label">New field: </label>
			  <div class="col-8">$inputing</div>
			  <div class="actions" style="float: right; margin-right: 0px; display:none;">
				<button type="button" class="btn btn-default tagOptions" rel="popover" data-trigger="click" data-content="s" data-html="true" data-original-title="d"><span class="glyphicon glyphicon-edit"></span></button>
				<button type="button" class="btn btn-default tagDelete"><span class="glyphicon glyphicon-remove"></span></button>
			  </div>
			</div>
		</li>
	</div>
</div>
