		<input type="text" class="added-tag form-control" title="textbox" name="textbox" />
		<span class="help-block">{options[help]}</span>
		<input type="hidden" name="type[textbox][label][]" class="h-label" value="{options[label]}" flexy:ignore>
		<input type="hidden" name="type[textbox][place][]" class="h-place" value="{options[place]}" flexy:ignore>
		<input type="hidden" name="type[textbox][deval][]" class="h-deval" value="{options[deval]}" flexy:ignore>
		<input type="hidden" name="type[textbox][help][]" class="h-help" value="{options[help]}"  flexy:ignore>
		<input type="hidden" name="type[textbox][height][]" class="h-height" value="{options[height]}" flexy:ignore>
		<input type="hidden" name="type[textbox][width][]" class="h-width" value="{this.plugin(#setDefaultValue#,options[width],#8#):h}" flexy:ignore>
		<input type="hidden" name="type[textbox][valid][]" class="h-valid" value="{options[valid]}" flexy:ignore>
		<input type="hidden" name="type[textbox][mask][]" class="h-mask" value="{options[mask]}" flexy:ignore>
		<input type="hidden" name="type[textbox][pattern][]" class="h-pattern" value="{options[pattern]}" flexy:ignore>
		<input type="hidden" name="type[textbox][order][]" class="h-order" value="{options[order]}" flexy:ignore>
