		<input type="file" title="file" class="file_dataProductPrice" style="display:none;">
		<input type="hidden" name="" class="dataProductPrice" style="display:none;">
		<input class="form-control disabled f_text_dataProductPrice added-tag" readonly="readonly" type="text">
		<input class="form-control f_button_dataProductPrice added-tag" value="{translate(#Choose...#)}" type="button">
		<span class="help-block">{options[help]}</span>
		<input type="hidden" name="type[file][label][]" class="h-label" value="{options[label]}" flexy:ignore>
		<input type="hidden" name="type[file][help][]" class="h-help" value="{options[help]}" flexy:ignore>
		<input type="hidden" name="type[file][valids][]" class="h-valids" value="{options[valids]}" flexy:ignore>
		<input type="hidden" name="type[file][height][]" class="h-height" value="{options[height]}" flexy:ignore>
		<input type="hidden" name="type[file][maxsize][]" class="h-maxsize" value="{options[maxsize]}" flexy:ignore>
		<input type="hidden" name="type[file][blabel][]" class="h-blabel" value="{options[blabel]}" flexy:ignore>
		<input type="hidden" name="type[file][width][]" class="h-width" value="{this.plugin(#setDefaultValue#,options[width],#8#):h}" flexy:ignore>
		<input type="hidden" name="type[file][order][]" class="h-order" value="{options[order]}" flexy:ignore>
