<div class="textareaOption" style="display:none;">
	<div class="options">
		<div class="option-columns leftclm">
			<input type="hidden" class="title-popover" value="{translate(#Textarea options#)}">
			<div class="form-group">
				<label for="label">{translate(#Label#)}</label>
			    <input type="text" class="form-control input-sm cu-label" style="width: 220px;" placeholder="{translate(#Label text#)}" value="New field: ">
			</div>
			<div class="form-group">
				<label for="placeHolder">{translate(#Placeholder#)}</label>
			    <input type="text" class="form-control input-sm cu-place" style="width: 220px;" placeholder="{translate(#Placeholder#)}">
			</div>
			<div class="form-group">
				<label for="defaultValue">{translate(#Default value#)}</label>
			    <input type="text" class="form-control input-sm cu-deval" style="width: 220px;" placeholder="{translate(#Default value#)}">
			</div>
			<div class="form-group">
				<label for="help">{translate(#Help text#)}</label>
			    <input type="text" class="form-control input-sm cu-help" style="width: 220px;" placeholder="{translate(#Help#)}" value="help">
			</div>
		</div> <!-- leftclm end -->
		
		<div class="option-columns rightclm">
			<div class="form-group">
				<label for="help">{translate(#Costum rows#)}: <span class="ramount cu-rows" style="color: #f6931f; font-weight: bold;"></span></label>
				<div class="slider rslide" style="width: 220px;margin: 10px 0px;"></div>
			</div>
			<div class="form-group">
				<label for="help">{translate(#Costum sizing#)}: <span class="amount cu-width" style="color: #f6931f; font-weight: bold;"></span></label>
				<div class="slider wslide" style="width: 220px;margin: 10px 0px;"></div>
			</div>
			<div class="form-group">
				<label for="help">{translate(#Validation#)}</label>
				<select class="form-control input-sm validation cu-valid" style="width: 220px;">
					<option value=""></option>
					<option value="notEmpty">Required</option>
					<option value="alpha">Alpha Characters</option>
					<option value="alphaSpace">Alpha Characters with Space</option>
					<option value="numeric">Numeric Characters</option>
					<option value="alphaNumeric">Alpha-Numeric Characters</option>
					<option value="alphaNumericSpace">Alpha-Numeric Characters with Space</option>
				</select>
			</div>	 
				<script>
					$(function() {
					    $( ".wslide" ).slider({
					      value:8,
					      min: 1,
					      max: 8,
					      step: 1,
					      slide: function( event, ui ) {
					        $( ".amount" ).html( ui.value );
					      }
					    });
					    $( ".amount" ).html( $( ".wslide" ).slider( "value" ));
						
						$( ".rslide" ).slider({
					      value:8,
					      min: 1,
					      max: 8,
					      step: 1,
					      slide: function( event, ui ) {
					        $( ".ramount" ).html( ui.value );
					      }
					    });
					    $( ".ramount" ).html( $( ".rslide" ).slider( "value" ));
					  });
				</script>
		</div> <!-- rightclm end -->
		<div style="clear: both;">
			<button type="button" class="btn btn-info input-sm saveOption">{translate(#Save#)}</button>
			<button type="button" class="btn btn-danger input-sm closeOption">{translate(#Cancel#)}</button>
		</div>
	</div> <!-- options end -->
</div> <!-- textboxOption end -->
