<div class="selectOption" style="display:none;">
	<div class="options">
		<div class="option-columns leftclm">
			<input type="hidden" class="title-popover" value="{translate(#Selectbox options#)}">
			<div class="form-group">
				<label for="label">{translate(#Label#)}</label>
			    <input type="text" class="form-control input-sm cu-label" style="width: 220px;" placeholder="{translate(#Label text#)}" value="New field: ">
			</div>
			<div class="form-group">
				<label for="help">{translate(#Help text#)}</label>
			    <input type="text" class="form-control input-sm cu-help" style="width: 220px;" placeholder="{translate(#Help#)}" value="help">
			</div>
			
			<div class="form-group">
				<label for="help">{translate(#Costum height#)}</label>
			    <select class="form-control input-sm height cu-height" style="width: 220px;">
					<option value="">Default</option>
					<option value="input-lg">Larg</option>
					<option value="input-sm">Small</option>
				</select>
			</div>
			<div class="form-group">
				<label for="help">{translate(#Costum sizing#)}: <span class="amount cu-width" style="color: #f6931f; font-weight: bold;"></span></label>
				<div class="slider wslide" style="width: 220px; margin: 10px 0px;"></div>
			</div>
			<script>
				$(function() {
				    $( ".slider" ).slider({
				      value:8,
				      min: 1,
				      max: 8,
				      step: 1,
				      slide: function( event, ui ) {
				        $( ".amount" ).html( ui.value );
				      }
				    });
				    $( ".amount" ).html( $( ".slider" ).slider( "value" ));
				  });	
			</script>
			
		</div> <!-- leftclm end -->
		
		<div class="option-columns rightclm">
			<div class="form-group">
				<label for="label">{translate(#Values#)}</label>
				<div class="check-values cu-selects" style="height: 203px; overflow: scroll;">
					
				</div>
			</div>
		</div> <!-- rightclm end -->
		
		<div style="clear: both;">
			<button type="button" class="btn btn-info input-sm saveOption">{translate(#Save#)}</button>
			<button type="button" class="btn btn-danger input-sm closeOption">{translate(#Cancel#)}</button>
		</div>
	</div> <!-- options end -->
</div> <!-- textboxOption end -->
