		<textarea class="form-control added-tag" title="textarea" name="textarea"></textarea>
		<span class="help-block">{options[help]}</span>
		<input type="hidden" name="type[textarea][label][]" class="h-label" value="{options[label]}" flexy:ignore>
		<input type="hidden" name="type[textarea][place][]" class="h-place" value="{options[place]}" flexy:ignore>
		<input type="hidden" name="type[textarea][deval][]" class="h-deval" value="{options[deval]}" flexy:ignore>
		<input type="hidden" name="type[textarea][help][]" class="h-help" value="{options[help]}" flexy:ignore>
		<input type="hidden" name="type[textarea][rows][]" class="h-rows" value="{this.plugin(#setDefaultValue#,options[rows],#2#):h}" flexy:ignore>
		<input type="hidden" name="type[textarea][width][]" class="h-width" value="{this.plugin(#setDefaultValue#,options[width],#8#):h}" flexy:ignore>
		<input type="hidden" name="type[textarea][valid][]" class="h-valid" value="{options[valid]}" flexy:ignore>
		<input type="hidden" name="type[textarea][order][]" class="h-order" value="{options[order]}" flexy:ignore>
