<div class="panel panel-info" style="margin: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{translate(pageTitle)}</h3>
  </div>
  <div class="topbtns">
	  <a type="button" href="{makeUrl(#add#,#content#,#content#)}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {translate(#New content#)}</a>
	  <a type="button" href="{makeUrl(#reorder#,#content#,#content#)}" class="btn btn-info"><span class="glyphicon glyphicon-sort"></span> {translate(#Order#)}</a>
  </div>
		{msgGet()}
		<form name="frmContentMgr" method="post" flexy:ignore id="frmContentMgr">
		    <input type="hidden" name="action" value="delete" />
    		{if:pager}<flexy:include src="pager.html" />{end:}	
		    <table class="table table-bordered">
		    	<thead>
			        <tr>
			            
                           	<th>
                            	<span class="tipOwner">
		                            <input type="checkbox" name="checkAll" id="checkAll" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="{translate(#Be Careful!#)}" onClick="javascript:applyToAllCheckboxes('frmcontentMgr', 'frmDelete[]', this.checked)" />
		                        </span>
                            </th><th>{translate(#title#)}</th>
                        <th>{translate(#date_created#)}</th>
                        <th>{translate(#date_updated#)}</th>
                        <th>{translate(#metakeys#)}</th>
                        <th>{translate(#is_active#)}</th>
                        <th>{translate(#status#)}</th>
                        
			            <th>action</th>
			        </tr>
				</thead>
				<tbody>
			        <tr class="{switchRowClass()}" flexy:foreach="aPagedData[data],key,aValue">
			            <td align="center"><input type="checkbox" name="frmDelete[]" value="{aValue[content_id]}" /></td><td nowrap>{aValue[title]}</td>
                        <td nowrap>{aValue[date_created]}</td>
                        <td nowrap>{aValue[date_updated]}</td>
                        <td nowrap>{aValue[metakeys]}</td>
                        <td nowrap>{aValue[is_active]}</td>
                        <td nowrap>{aValue[status]}</td>
                        
			            <td width="10%" nowrap>
				            <a href="{makeUrl(#edit#,#content#,#content#,aPagedData[data],#frmContentID|content_id#,key)}" />
				                <span class="glyphicon glyphicon-edit"></span> {translate(#edit#)}
				            </a> 
			            </td>
			        </tr>
				</tbody>
				{if:pager}<flexy:include src="pager.html" />{end:}
		    </table>
						
			<button type="submit" class="btn btn-danger" name="Delete" onclick="return confirmSubmit('content', 'frmContentMgr')" /><span class="glyphicon glyphicon-trash"></span> {translate(#delete selected#)} </button>
		</form>
</div>
