<div id="ajaxMessage" class="message">{msgGet():h}</div>
{if:isAdd}
<div id="content-header" class="registerHead">
	<a id="individualBtn" class="activeBtn" href="{makeUrl(##,#register#,#user#)}regGrp/{individual}">{translate(#Individual#)}</a>
	<a id="institutionalBtn" class="deactiveBtn" href="{makeUrl(##,#register#,#user#)}regGrp/{institutional}">{translate(#Institutional#)}</a>
</div>
{else:}
<div>
	<h2>{translate(pageTitle)}</h2>
</div>
{end:}
<div class="registerForm">
	<form id="form-group" method="post" action="" flexy:ignore>
		<fieldset class="hide">
			<input type="hidden" name="role"value="{role}" />
	    {if:isAdd}
	        <input type="hidden" name="action"value="insert" />
	        {if:redir}
	        <input type="hidden" name="redir" value="{redir}" />
	        {end:}
	    {else:}
	        <input type="hidden" name="action" value="update" />
	        <input type="hidden" name="user[usr_id]" value="{user.usr_id}" />
	        <input type="hidden" name="user[role_id_orig]" value="{user.role_id}" />
	        <input type="hidden" name="user[organisation_id_orig]"
	               value="{user.organisation_id}" />
	        <input type="hidden" name="user[username_orig]"
	               value="{user.username_orig}" />
	        <input type="hidden" name="user[email_orig]"
	               value="{user.email_orig}" />
	    {end:}
		</fieldset>
	
	    <div class="form-group">
	        <label class="col-lg-4" for="user_first-name">{translate(#First Name#)}</label>
			<label class="col-lg-1" for="user_first-name">:</label>
            <input id="user_first-name" class="text" type="text"
                   name="user[first_name]" value="{user.first_name}" />
	    </div>
	    <div class="form-group">
	        <label class="col-lg-4" for="user_last-name">{translate(#Last Name#)}</label>
			<label class="col-lg-1" for="user_last-name">:</label>
            <input id="user_last-name" class="text" type="text"
                   name="user[last_name]" value="{user.last_name}" />
	    </div>
	    <div class="form-group">
	        <label class="col-lg-4" for="user_email">{translate(#Email#)}</label>
			<label class="col-lg-1" for="user_email">:</label>
            <input id="user_email" class="validate[required,custom[email]] text" type="text"
                   name="user[email]" value="{user.email}" />
			<p class="error">{error[email]}</p>
	    </div>
	    <div class="form-group">
	        <label class="col-lg-4" for="user_mobile">{translate(#Mobile#)}</label>
			<label class="col-lg-1" for="user_mobile">:</label>
            <input id="user_mobile" class="validate[required,minSize[11]] text" type="text"
                   name="user[mobile]" value="{user.mobile}" />
	    </div>
		<div class="form-group">
	        <label class="col-lg-4" for="user_sex">{translate(#Sex#)}</label>
			<label class="col-lg-1" for="user_sex">:</label>
            <input id="user_sex" type="radio"
                   name="user[sex]" value="0" checked="checked"/>{translate(#Male#)}
			<input id="user_sex" type="radio"
                   name="user[sex]" value="1"/>{translate(#Female#)}
	    </div>
	    <div class="form-group">
	        <label class="col-lg-4" for="user_blood">{translate(#Blood Group#)}</label>
			<label class="col-lg-1" for="user_blood">:</label>
            <input id="user_blood" class="text" type="text"
                   name="user[blood]" value="{user.blood}"/>
	    </div>
		<div class="form-group">
	        <label class="col-lg-4" for="user_city_id">{translate(#City#)}</label>
			<label class="col-lg-1" for="user_city_id">:</label>
			<select id="user_city_id" class="" name="user[city_id]">
				{generateSelect(aCity,user.city_id):h}
			</select>
	    </div>
	
	    <div class="form-group">
	    	{if:isAdd}
	        <input class="registerBtn" type="submit" name="submitted"
	               value="{translate(#Register#)}" />
			{else:}
			<input class="registerBtn" type="submit" name="submitted"
	               value="{translate(#Save#)}" />
			{end:}
	    </div>
	</form>
</div>